.island-moments-regular {
  font-family: "Island Moments", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}



.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Use an appropriate weight value */
  font-style: normal;
  color: white;
  line-height: 1.5;

}
.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold; /* Use an appropriate weight value */
  font-style: normal;
  color: white;
  font-size: x-large;
  line-height: 1.5;
}


.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  color:#B88E2F;
  font-weight: 800;
  font-style: normal;
  font-size: 70px  ;
  line-height: 1.5;
}

.poppins-normal {
  font-family: "Poppins", sans-serif;
  color:#B88E2F;
  font-weight: 400;
  font-style: normal;
  font-size: 30px  ;
  line-height: 1.5;
}

.poppins {
  font-family: "Poppins", sans-serif;
  color:#B88E2F;
  font-weight: normal;
  font-style: normal;
  font-size: 15px  ;
  line-height: 1.5;
  color: white;
}

.jaldi-regular {
  color:#C9A782;
  font-family: "Jaldi", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 25px;
}

.jaldi {
  color:black;
  font-family: "Jaldi", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
}
.jaldi-heading {
  color:white;
  font-family: "Jaldi", sans-serif;
  font-weight: bolder;
  font-style: normal;
  font-size: 40px;
}
.jaldi-account {
  color:white;
  font-family: "Jaldi", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 30px;
}