
.island-moments-regular {
  font-family: "Island Moments", cursive;
  font-weight: bolder;
  font-style: bold;
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;


}


.inria-sans-regular {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}